In [6]:
#List

list2=list([1])
list1=['a','b']
#list2=[1,2]
print(list1)
print(list2)
list1.extend(list2)
print(list1)
list1.append(2)
print(list1)
list1.insert(2,"hey")
print(list1)
list1.remove("hey")
print(list1)
list1.pop()
print(list1)
print(list1.index(1))
#list1.clear()
print(list1.count('a'))
list3=[1,32,4,43,5]
list3.reverse()
print(list3)
list3.sort()
print(list3)
list4=list1.copy()
print(list4)

['a', 'b']
[1]
['a', 'b', 1]
['a', 'b', 1, 2]
['a', 'b', 'hey', 1, 2]
['a', 'b', 1, 2]
['a', 'b', 1]
2
1
[5, 43, 4, 32, 1]
[1, 4, 5, 32, 43]
['a', 'b', 1]

In [7]:
#Tuple

a=(1,4,3,2,5,2,6)
print(a)
print(a.count(2))
print(a.index(4))

(1, 4, 3, 2, 5, 2, 6)
2
1

In [8]:
#Dictionary

month_conversion={
  "Jan":"January",
  'Feb':'February',
  'Mar':'March',
  'May':"May",
  "Jun":"June",
  "Jul":"July",
  "Aug":"August",
  "Sep":"September",
  "Oct":"October",
  "Nov":"November",
  "Dec":"December"
}
print(month_conversion["Jun"])
print(month_conversion.get("Dec"))
print(month_conversion.get("dec","Not a Valid Key"))
print(month_conversion.clear())

June
December
Not a Valid Key
None

In [9]:
#Set

st={1,2,"da",41,4}
st1={1,5,7,8,"a"}
st.add(10)
st.intersection(st1)
st.union(st1)
st.issubset(st1)
st.remove(2)
print(st)
st.pop()
print(st)

{1, 4, 41, 10, 'da'}
{4, 41, 10, 'da'}

In [10]:
#String

a="Hello"
a.count('e')
a.isalnum()
a.islower()
a.isupper()
a.upper()
a.lower()

'hello'